<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
    <servlet>
        <servlet-name>RegisteringForm</servlet-name>
        <jsp-file>/RegisteringForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisteringForm</servlet-name>
        <url-pattern>/RegisteringForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfilePage</servlet-name>
        <jsp-file>/ProfilePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfilePage</servlet-name>

        <url-pattern>/ProfilePage</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApplicantPage</servlet-name>
        <jsp-file>/ApplicantPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicantPage</servlet-name>

        <url-pattern>/ApplicantPage</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>EmployerPage</servlet-name>
        <jsp-file>/EmployerPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployerPage</servlet-name>

        <url-pattern>/EmployerPage</url-pattern>

    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/Error405.jsp</location>
    </error-page>

</web-app>

